.App {
  text-align: center;
  font-family: Montserrat, sans-serif;
  background-color: #f8f4f19f;
  max-width: 100vw;
  min-height: 100vh;
}

.loading-container {
  width: 100%;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  width: 2.5rem;
  height: 2.5rem;
  border: 4px solid;
  border-color: grey grey rgba(40, 40, 40) rgba(40, 40, 40);
  border-radius: 50%;
  animation: spin-anim 0.5s linear infinite;
}
@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
